body {
    background-color: rgb(200,210,80);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(12, 10, 138);
    line-height: 2em;
    letter-spacing: 0.23em;
    
}

h1 {
font-family: 'Courier New', Courier, monospace;
font-size: medium;
font-weight: bolder;
text-indent: 0em;
text-transform: uppercase;
text-align: center;
}

h2 { 
font-family: 'Courier New', Courier, monospace;
font-size: larger;
font-style: oblique;
line-height: normal;
color: rgb(100,100,0)
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-style: oblique;
    line-height: normal;
    letter-spacing: 0.14em;
    text-align: center;
}
